body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    flex-direction: column;
}

.forgot-password-card {
    height:400px !important;
    width: 584px;
    padding: 60px 60px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.forgot-password-card form > * {
    margin-bottom: 30px;
}
.form-control {
    height: 50px;
    padding: 10px;
}

.btn {
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.btn-login {
    text-decoration: none;
    color: #637381;
    margin-top: 10px;
}

.forgot-password-card form {
    width: 400px;
    height: 228px;
    margin: 0 auto;
}

.forgot-password-card h5 {
    padding-left: 1rem; /* Ví dụ: 1rem, bạn có thể điều chỉnh theo ý muốn */
    padding-right: 1rem;
}

.modal {
    display: flex !important;
    align-items: center;
    margin-top: 7px;
}

.modal-content {
    width: 384px !important;
    height: 262px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: none;
}

.checkmark-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #D1FAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.checkmark-container .material-symbols-outlined {
    font-size: 30px;
    color: rgba(5, 150, 105, 1);
}

.error-container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FEE2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.error-container .material-symbols-outlined {
    font-size: 30px;
    color: rgba(185, 28, 28, 1); /* Màu icon đỏ đậm */
}

.modal-title {
    font-size: 18px;
    color: rgba(17, 24, 39, 1);
}
.modal .modal-body {
    font-size: 1rem;
    color: #6c757d;
    padding: 0;
    margin: 0;
}

.modal-content-body {
   width: 336px;
   height: 140px;
}

.modal-body span.text-muted {
    font-size: 14px; /* Đặt kích thước chữ thành 14px */
    color: rgba(107, 114, 128, 1); /* Đặt màu chữ */
    width: 336px; /* Đặt chiều rộng là 336px */
    height: 40px;
    text-align: center;
}

.modal-content .btn.btn-primary {
    width: 336px; /* Đặt chiều rộng là 336px */
    height: 50px; /* Đặt chiều cao là 50px */
    margin-top: 1.5rem;
    display: flex;           /* Bật flexbox */
    align-items: center;       /* Căn giữa nội dung theo chiều dọc */
    justify-content: center;
}


