body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    flex-direction: column;
}

.forgot-password-card {
    height:400px !important;
    width: 584px; /* Giống với form đăng nhập */
    padding: 60px 60px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.forgot-password-card form > * {
    margin-bottom: 30px; /* Tạo khoảng cách 20px giữa các phần tử */
}
.form-control {
    height: 50px;  /* Giống với form đăng nhập */
    padding: 10px;
}

.btn {
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}

.btn-login {
    text-decoration: none;
    color: #637381;
    margin-top: 10px; /* Tạo khoảng cách 30px phía trên */
}

.forgot-password-card form {
    width: 400px;
    height: 228px;
    margin: 0 auto; /* Căn giữa form */
}


/* Kích thước Modal */
.modal-content {
    width: 384px !important; /* Chiều rộng modal */
    height: 262px; /* Chiều cao modal */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: none;
}

.checkmark-container {
    width: 48px;
    height: 48px !important;
    border-radius: 50%;
    background-color: #D1FAE5; /* Màu nền vòng tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
}

.checkmark-icon {
    font-size: 24px;
    color: #05966A; /* Màu của dấu check */
}

.modal-header {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.modal-header .icon-success {
    font-size: 48px;
    color: #28a745;
    margin-bottom: 10px;
}

.modal-header .modal-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 10px;
}

.modal-body {
    text-align: center;
    font-size: 1rem;
    color: #6c757d;
    padding: 0 10px;
}

.modal-footer {
    border-top: none;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
}

.modal-footer .btn-primary:hover {
    background-color: #0056b3;
}

